<div class="row">
    <div class="col">
        <h2 class="title">Add Requirement</h2>

        <div class="form-group">
            <label for="name" class="data-of-requirement">Requirement name: </label>
            <input [(ngModel)]="ReqName" type="text" class="form-control" title="Enter name of requirement">
        </div>

        <div class="form-group">
            <label for="description" class="data-of-requirement">Requirement description: </label>
            <input [(ngModel)]="ReqDescription" type="text" class="form-control" title="Enter description of requirement">
        </div>

        <button class="btn" (click)="addRequirement()" title="Add new requirement">Add new Requirement</button>
    </div>
</div>

<hr>